@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
*{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 16px;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

input, button,
textarea, select {
  font: inherit;
}

:root{
	--black: #151515;
	--green: #4ee1a0;
	--darkgrey: #242424;
	--grey: #d9d9d9;
	--white: #FFFFFF;
	--red: #FF6F5B;
	--font-size-xl:40px;
	--font-size-l: 2rem;
	--font-size-m: 24px;
	--font-size-s: 16px;
	--font-weight-bold: 700;
	--font-weight-medium: 500;
}

body{
	background-color: var(--black);
}

h1{
	color: var(--white);
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold)
}

h2{
	color: var(--white);
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-bold);
}

h3{
	color: var(--white);
	font-size: var(--font-size-m);
	line-height: 2rem;
	font-weight: var(--font-weight-bold)
}
h4{
	color: var(--white);
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-bold);
	line-height: 2rem;
	letter-spacing: -0.333px;
}
p{
	color: var(--white);
	font-size: var(--font-size-s);
	font-weight: 400;
	line-height: 26px;
}

span{
	font-size: inherit;
}

button{
	font-weight: var(--font-weight-bold);
	color: var(--white);
	font-size: 1rem;
	letter-spacing: 2.286px;
	line-height: 26px;
	background-color: var(--black);
	border: none;
	padding: 0;
	margin: 0;
	position: relative;
	padding-block-end: 10px;
	border-bottom: 2px solid var(--green);
	cursor: pointer;
	width: fit-content;
}

button:hover{
	color: var(--green);
}


@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}

