@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
*{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 16px;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

input, button,
textarea, select {
  font: inherit;
}

:root{
	--black: #151515;
	--green: #4ee1a0;
	--darkgrey: #242424;
	--grey: #d9d9d9;
	--white: #FFFFFF;
	--red: #FF6F5B;
	--font-size-xl:40px;
	--font-size-l: 2rem;
	--font-size-m: 24px;
	--font-size-s: 16px;
	--font-weight-bold: 700;
	--font-weight-medium: 500;
}

body{
	background-color: var(--black);
}

#contact{
	background-color: var(--darkgrey);
	width: 100vw;
}

/* main{
	background-color: var(--black);
} */

hr{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1{
	color: var(--white);
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold)
}

h2{
	color: var(--white);
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-bold);
}

h3{
	color: var(--white);
	font-size: var(--font-size-m);
	line-height: 2rem;
	font-weight: var(--font-weight-bold)
}
h4{
	color: var(--white);
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-bold);
	line-height: 2rem;
	letter-spacing: -0.333px;
}
p{
	color: var(--white);
	font-size: var(--font-size-s);
	font-weight: 400;
	line-height: 26px;
}

span{
	font-size: inherit;
}

button{
	font-weight: var(--font-weight-bold);
	color: var(--white);
	font-size: 1rem;
	letter-spacing: 2.286px;
	line-height: 26px;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	position: relative;
	padding-block-end: 10px;
	border-bottom: 2px solid var(--green);
	cursor: pointer;
	width: fit-content;
}

button:hover{
	color: var(--green);
}

main{
	display: flex;
	flex-direction: column;
	position: relative;
}


.intro-circle{
	position: absolute;
	background-image: url("./images/pattern-circle.svg");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position-x: 125%;
	background-position-y: 4.5%; 
	z-index: 2;
}

.intro-rings{
	position: absolute;
	background-image: url("./images/pattern-rings.svg");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position-x: 220%;
	background-position-y: 2%;

}

.skill-rings{
	position: absolute;
	background-image: url("./images/pattern-rings.svg");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position-x: -150%;
	background-position-y: 26%;

}
.contact-rings{
	position: absolute;
	background-image: url("./images/pattern-rings.svg");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position-x: 220%;
	background-position-y: 95.75%;
}


@media (min-width: 768px) {
	section{
		padding-inline: 0;
	}
	:root{
		--font-size-xl:72px;
		--font-size-l: 3rem;
		--font-size-m: 2rem;
		--font-size-s: 18px;
	}

	.intro-circle{
		position: absolute;
		background-image: url("./images/pattern-circle.svg");
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-position-x: 110%;
		background-position-y: 13%; 

	}
	
	.intro-rings{
		position: absolutfe;
		background-image: url("./images/pattern-rings.svg");
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-position-x: -120%;
		background-position-y: 1.7%;

	}

	.skill-rings{
		position: absolute;
		background-image: url("./images/pattern-rings.svg");
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-position-x: 250%;
		background-position-y: 28%;

	}
	.contact-rings{
		position: absolute;
		background-image: url("./images/pattern-rings.svg");
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-position-x: -160%;
		background-position-y: 96%;
	}


}

@media (min-width: 1200px) {
	main{
		display: grid;
		justify-items: center;
		justify-content: center;
	}

	section:not(section:last-of-type){
		max-width:1110px;
	}

	:root{
		--font-size-xl:88px;
	}

	.intro-circle{
		position: absolute;
		background-image: url("./images/pattern-circle.svg");
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-position-x: 60%;
		background-position-y: 15%; 

	}
	
	.intro-rings{
		position: absolute;
		background-image: url("./images/pattern-rings.svg");
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-position-x: -10%;
		background-position-y: 2%;

	}

	.skill-rings{
		position: absolute;
		background-image: url("./images/pattern-rings.svg");
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-position-x: 130%;
		background-position-y: 28%;
	}
	.contact-rings{
		position: absolute;
		background-image: url("./images/pattern-rings.svg");
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-position-x: -20%;
		background-position-y: 96.5%;
	
	}
	
}

